<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_layout">

<div layout:fragment="jsHead" th:remove="tag">
    <script type="text/javascript" th:src="@{/webjars/angularjs/1.5.3/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/generate.js}"></script>
</div>

<div layout:fragment="content" th:remove="tag">
    <div ng-controller="GenerateCtrl">
        <header class="container">
            <div class="row">
                <h1>Turn DB schema into API</h1>
                <hr />
            </div>
        </header>

        <section class="container" id="information">
            <div class="row">
                <div class="alert alert-danger" ng-show="generateForm.$invalid &amp;&amp; submitted">
                    <ul>
                        <li ng-show="generateForm.language.$invalid"><span class="error">Language is required</span></li>
                        <li ng-show="generateForm.database.$invalid"><span class="error">Database is required</span></li>
                        <li ng-show="generateForm.connection.$invalid"><span class="error">Database connection is required</span></li>
                    </ul>
                </div>
                <form ng-submit="generateForm.$valid &amp;&amp; submit()" name="generateForm">
                    <div class="form-group">
                        <label for="selectedLanguage">Language</label>
                        <select class="form-control" ng-model="selectedLanguage" id="selectedLanguage" name="language" required="true"
                            ng-options="option.value as option.name for option in data.availableLanguages">
                        </select>
                    </div>
                    <div class="form-group" ng-class="{'error': data.selectedDatabase.$invalid}">
                        <label for="dbSelect">Database</label>
                        <select class="form-control" ng-model="selectedDatabase" id="dbSelect" name="database" required="true"
                                ng-options="option.value as option.name for option in data.availableDatabases">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dbConnection">DB Connection String</label>
                        <textarea class="form-control" id="dbConnection" ng-model="data.connection" rows="3" name="connection" required="true"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg" ng-click="submitted=true">Generate</button>
                </form>
                <hr />
            </div>
        </section>

        <footer>
            <div class="container">
                Morfeu.
            </div>
        </footer>
    </div>
</div>

</html>